doctype(html)
html(lang="en")
    head
        title Backend project level 4
        script(src='main.js')
        link(href='main.css' rel="stylesheet")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    body.d-flex.flex-column.min-vh-100
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-3
            a.navbar-brand(href="/")= t('appName')